
.main-heigth {
    height: 50vh;

}
@media (min-width: 320px) and (max-width: 767px){
    .main-heigth {
        height: 50vh;

    }
}
@media (min-width: 768px) and (max-width:1200px) {
    .main-heigth {
        height: 50vh;

    }
}